.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.link {
    padding: .5em;
    margin: 1em;
    color: darkslategray;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid darkslategray;
}