.photobooth {
  background:white;
  position: relative;
  max-width: 800px;
  width: 100%;
  border-radius:2px;
  border: 6px solid white;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width:100%;
  float:left;
}

.player {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  visibility: hidden;
  opacity:  0;
}

.snapshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    font-size: 12px;
}

.controls {
  display: flex;
  margin-top: 40px;
  padding: 20px;
}

.rgb {
  max-height: 1px;
  overflow: hidden;
  transition: .3s;
}
.rgb.is-active {
  max-height: 220px;
  padding: 20px 0;
}
/*
  Strip!
*/

.strip {
  padding:2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}

.strip a:nth-child(5n+1) img { rotate: 10deg; }
.strip a:nth-child(5n+2) img { rotate: -2deg; }
.strip a:nth-child(5n+3) img { rotate: 8deg; }
.strip a:nth-child(5n+4) img { rotate: -11deg; }
.strip a:nth-child(5n+5) img { rotate: 12deg; }

.bottom-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.clear-snaps {
  max-width: 200px;
  margin: 0 auto;
}